<%- include('headers/html-header', {}); -%><%- include('nav/navbar', { user:
user }); -%>
<div class="container-fluid d-flex align-items-stretch pt-5">
  <div class="row align-items-stretch w-100 pt-3">
    <div class="col-12 pt-2 pb-3">
      <p>Title: <%= story.title %></p>
      <p>Story creator: <%= story.created_username %></p>
      <p>Opening Paragraph: <%= story.starting_paragraph %></p>
      <p>Ending Paragraph: <%= story.ending_paragraph %></p>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
