<%- include('headers/html-header', {}); -%><%- include('nav/navbar', { user:
user, showButton: true, pageState: "" }); -%>
<div class="container-fluid d-flex align-items-stretch pt-5">
  <div class="row align-items-stretch w-100 pt-3">
    <div class="col-12 pt-1">
      <p class="mb-0">
        <a href="/"><small>« Back to Home</small></a>
      </p>
      <hr />
    </div>
    <div class="col-12 py-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-6">
          <h1 class="mb-0 text-center text-md-start story-title-font">
            <%= story.title %>
          </h1>
          <p class="mb-0 text-center text-md-start">
            <small class="fst-italic"
              >Created by: <%= story.created_username_fmt %></small
            >
          </p>
        </div>
        <% if (user && user.id && user.id === story.created_user_id) { %>
        <div class="col-12 col-md-6 mt-2 mt-md-0 text-center text-md-end">
          <form
            class="d-inline-block"
            action="/story/<%= story.id %>/delete?_method=DELETE"
            method="POST"
          >
            <input class="btn btn-danger" type="submit" value="Delete Story" />
          </form>
        </div>
        <% } %>
      </div>
      <hr />
    </div>
    <div class="col-12 pt-2 pb-3">
      <p
        class="
          randomParagraph
          random-paragraph
          fs-5
          text-black
          mb-5
          story-paragraph-font
        "
      >
        <%= story.starting_paragraph %>
      </p>
      <% story.paragraphs.forEach((paragraph, index) => { %>
      <p
        class="
          user-generated-paragraph
          userGeneratedParagraph
          story-paragraph-font
          fs-5
          text-black text-opacity-75
          <%
          if
          (index
          ===
          story.paragraphs.length
          -
          1)
          {
          %>mb-5<%
          }
          %><%
          if
          (user
          &&
          user.id
          &&
          user.id
          ===
          paragraph.created_user_id)
          {
          %>
          isOwnParagraph
          is-own-paragraph<%
          }
          %>
        "
      >
        <a
          class="user-generated-span userGeneratedSpan"
          tabindex="<%= index %>"
          data-bs-trigger="focus"
          data-storyId="<%= paragraph.story_id %>"
          data-paragraphId="<%= paragraph.id %>"
          data-createdUserId="<%= paragraph.created_user_id %>"
          data-currentUserId="<% if (user && user.id) { %><%= user.id %><% } else { %>0<% } %>"
          data-createdUserName="<%= paragraph.created_username_fmt %>"
          data-bs-toggle="popover"
          ><%= paragraph.paragraph %></a
        >
      </p>
      <% }); %> <% if (user && user.id) { %>
      <div class="col-12">
        <hr />
        <div class="row">
          <div class="col-12 col-md-2"></div>
          <div class="col-12 col-md-8">
            <div class="d-grid">
              <a
                class="btn btn-lg btn-outline-success"
                href="/story/<%= story.id %>/paragraph"
                role="button"
                >+ Add a New Paragraph</a
              >
            </div>
          </div>
          <div class="col-12 col-md-2"></div>
        </div>

        <hr />
      </div>
      <% } %>
      <p
        class="
          randomParagraph
          random-paragraph
          story-paragraph-font
          fs-5
          text-black
          mt-5
        "
      >
        <%= story.ending_paragraph %>
      </p>
    </div>
  </div>
</div>

<%- include('footers/html-footer'); -%>
